@import "tailwindcss";

@theme {
  /*  -- color -- */
  /* 基本色 */
  --blue: #153069;
  --blue2: #132e4d;
  --yellow: #c6b54f;
  --white: #ffffff;
  --black: #222222;

  /* フォントファミリー設定 */
  --sans-serif-f: Graphik, sans-serif;
  --serif-f: Merriweather, serif;

  /* フォントサイズ設定 */
  --fontsize-xs: 0.75rem;
  --xs-lineheight: 1rem;
  --xs-letterspacing: 0.03em;

  /* spacing設定 */
  --spacing: 1px; /* 通常4pxを1pxに変更 */

  --proportional: {
    font-variant-east-asian: proportional-width;
  };
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--sans-serif-f);
}

.view-button {
  color: var(--white);
  background-image: url("./images/button_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100px;
  width: 480px;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

.view-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  aspect-ratio: 1 / 1;
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  background-image: url("./images/strength_back_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view-block2 {
  background-image: url("./images/strength_back_02.png");
  background-size: cover;
  background-position: center;
}

.view-block3 {
  background-image: url("./images/strength_back_03.png");
  background-size: cover;
  background-position: center;
}

.view-block h5 {
  font-size: 60px;
  position: relative;
}

.view-block span {
  font-size: 15px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.view-block p {
  margin-top: 20px;
  font-size: 23px;
}

a:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  #machine {
    padding: 100px 20px;
  }
  #machine div.title {
    display: flex;
    flex-direction: column-reverse;
  }

  #machine h3 {
    margin-bottom: 40px;
  }

  #machine p {
    margin-bottom: 40px;
  }

  #machine .view-button2 {
    color: var(--blue);
    background-image: url("./images/button_back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    letter-spacing: 0em;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  #machine {
    background-image: url("./images/machine_back.png");
    background-size: cover;
    width: 1230px;
    height: 600px;
    margin: 100px auto;
    color: var(--white);
    position: relative;
  }

  #machine div.title {
    display: flex;
    flex-direction: column-reverse;
  }

  #machine > div:first-child {
    position: absolute;
    width: 500px;
    top: calc(50% - 20px);
    left: 80px;
    transform: translateY(-50%);
  }

  #machine h3 {
    margin-bottom: 40px;
  }

  #machine p {
    margin-bottom: 60px;
  }

  #machine .view-button2 {
    color: var(--blue);
    background-image: url("./images/button_back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 480px;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
  }

  /* リンク */
  a:hover {
    opacity: 0.7;
    transition: all 0.5s;
  }

  .fnavi li a {
    position: relative;
    opacity: 1;
  }
  .fnavi li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 5%;
    width: 90%;
    height: 2px;
    background: var(--white);
    opacity: 0.7;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  .fnavi li.current a::after,
  .fnavi li a:hover::after {
    transform: scale(1, 1);
  }

  .tnavi li:not(.contact-button) a {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    display: block;
    padding: 10px;
  }
  .tnavi li:not(.contact-button) a:hover {
    color: var(--black);
    background: var(--white);
    transition-delay: 0.3s;
    opacity: 1;
  }
  .tnavi li:not(.contact-button) a:before,
  .tnavi li:not(.contact-button) a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white);
    opacity: 0.7;
    width: 100%;
    transition: all 0.3s;
  }
  .tnavi li:not(.contact-button) a::before {
    top: 0;
    transform: translateX(-100%);
  }
  .tnavi li:not(.contact-button) a::after {
    bottom: 0;
    transform: translateX(100%);
  }
  .tnavi li:not(.contact-button) a:hover::before,
  .tnavi li:not(.contact-button) a:hover::after {
    transform: translateX(0);
  }

  .contact-button a::before {
    content: "";
    background-image: url("./images/contact_icon.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin: 0 5px;
    opacity: 1;
  }

  .contact-button a:hover::before {
    content: "";
    background-image: url("./images/contact_icon_black.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin: 0 5px;
    opacity: 1;
  }

  .contact-button a:hover {
    background: rgb(255, 255, 255, 0.8);
    transition: all 0.5s;
    color: rgb(0, 0, 0, 1);
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-image: url("./images/top_back_lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #logo h1 {
    margin: auto;
    width: 245px;
  }

  #catch {
    padding: 100px 0 150px 0;
    align-items: center;
  }
  #catch h2 {
    padding-left: 15px;
  }

  .box-icon {
    display: none;
  }

  nav ul {
    text-align: center;
    background-color: var(--blue2);
  }
  nav ul li {
    border-bottom: 1px solid var(--black);
    padding: 15px 0;
  }

  section#about div img {
    margin-top: 40px;
  }

  .view-button {
    height: 50px;
    width: 240px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .view-block {
    width: 100%;
    margin: 0;
  }

  .view-block span {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }

  .view-block p {
    margin-top: 40px;
    font-size: 19px;
  }

  footer {
    text-align: center;
  }

  footer h3 {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
  }
  footer ul {
    margin-left: auto;
    margin-right: auto;
  }
  footer ul li {
    padding: 10px;
  }

  /* ハンバーガーメニュー */
  .hbg {
    position: relative;
    background: "var(--white)";
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 3px;
  }
  .hbg span {
    display: inline-block;
    position: absolute;
    right: 20px;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s;
    background: var(--white);
    width: 50%;
  }
  .hbg span:nth-last-of-type(1) {
    top: 30px;
  }
  .hbg span:nth-last-of-type(2) {
    top: 38px;
  }
  .hbg span:nth-last-of-type(3) {
    top: 46px;
  }
  .hbg.active span:nth-last-of-type(1) {
    top: 32px;
    left: 25px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
  }
  .hbg.active span:nth-last-of-type(2) {
    opacity: 0;
  }
  .hbg.active span:nth-last-of-type(3) {
    top: 32px;
    left: 25px;
    transform: translateY(6px) rotate(45deg);
    width: 40%;
  }
  .hbg:hover {
    background: var(--black);
    transition: all 0.5s;
    opacity: 0.7;
  }

  .tnavi.active {
    position: absolute;
    top: 94px;
    width: 100%;
  }
}
